<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartherd.khmermusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".activities.song.fragments.MusicService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".activities.song.fragments.popular_song.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".musicplayer.MusicPlayerActivity" />
        <activity android:name=".activities.download.DownloadActivity" />
        <activity android:name=".activities.search.SearchActivity" />
        <activity android:name=".activities.singer.SingerActivity" />
        <activity android:name=".activities.song.SongActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>